@model m2m.Models.AlumnoAula

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AlumnoAula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alumno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alumno.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aula.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
