@model m2m.Models.AlumnoAula

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>AlumnoAula</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="AlumnoId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="AlumnoId" class="form-control" asp-items="ViewBag.AlumnoId"></select>
                <span asp-validation-for="AlumnoId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AulaId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="AulaId" class="form-control" asp-items="ViewBag.AulaId"></select>
                <span asp-validation-for="AulaId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
